@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');
body{
    background: url(congruent_outline.png);
    font-family: 'Radio Canada', sans-serif;
}
.maincontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-row-gap: 20px;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    align-items: center;
}
#firstcolumn{

    grid-row: 1/3;
    background: transparent;
    color: white;
    padding: 0 10px 0 0;
}
#secondcolumnfirstrow{
    padding-top: 25px;
    border-radius: 10px;
    background-color: purple;
    width: 100%;
    height: 45px;
    color: white;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.9);
}
.secondrow{
    padding-top: 20px;
    background-color: white;
    border-radius: 10px;
    height: 380px;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.9);
}
.learntocodesize{
    font-size: 40px;
}
.firstcolumnlinespace{
    line-height: 45px;
}
.inputfield{
    width: 80%;
    border: solid 1px black; 
    border-radius: 5px;
    height: 40px;
}
.claimbutton{
    padding-top: 12px;
    width: 80%;
    background-color: green;
    height: 28px;
    border: solid 1px green;
    border-radius: 5px;
    margin: auto;
    color: white;
    font-size: 13px;
}
.claimbutton:hover{
    background-color: darkgreen;
    cursor: pointer;
}
.terms{
    font-size: 13px;
}